.header {
  height: 64px;
  padding: 0 30px;
  background: #4a90e2;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__profile {
  color: #fff;
  font-size: 15px;
  font-weight: 700;

  display: flex;
  align-items: center;
}

.header__profile span {
  margin-right: 10px;
}

.header__profile i {
  font-size: 30px;
}
